html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 20px;
  color: white;
  font-family: "Jost", sans-serif;
  --subtitle-font-size: 1.25rem;
  --cardtitle-font-size: 1.6rem;
  --page-margins: 2rem;
  --darkBlue-color: #051834;
  --yellow-color: #ffcb11;
  --card-color: #9e4585bf;

  --main-border-radius: 0.9rem;
  /* overflow: hidden; */
}

html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: var(--yellow-color);
  background-image: url(./Images/backgroundImage.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: inherit;
}

/* Animated BG derived from:https://codepen.io/P1N2O/pen/pyBNzX  */
/* background: linear-gradient(
    45deg,
    #f58b3aad,
    #daa67ead,
    #f997b97d,
    #ff468764
  );
  animation: gradient 60s ease infinite;
  background-size: 400% 400%; */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes colorSlide {
  0% {
    --degrees: 0deg 130deg;
  }
  50% {
    --degrees: 130deg 260deg;
  }
  100% {
    --degrees: 260deg 360deg;
  }
}

/* Header */
.header {
  max-width: 80%;
  margin: var(--page-margins) auto 0;
}

.header-title {
  font-family: "Baskervville", serif;
  margin-left: -0.4rem;
  margin-bottom: -0.2rem;
  font-style: italic;
  font-size: 4rem;
}

.header-subtitle {
  margin-bottom: 4rem;
}

.header-links {
  z-index: 1;
  text-decoration: underline;
  display: flex;
  gap: 2rem;
}

.header-links a:visited {
  text-decoration: none;
  color: white;
}

/* Projects */

.projects {
  max-width: 95%;
  margin: var(--page-margins) auto;
  display: grid;
  /* Responsive Grid From: https://smolcss.dev/#smol-css-grid */
  --min: 20rem;
  --gap: 4rem;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

.projects-card {
  background: linear-gradient(45deg, #9e45941c, 60%, var(--card-color));
  animation: gradient 6s ease infinite;
  background-size: 400% 400%;
  height: 14rem;
}
.projects :nth-child(odd) {
  animation: gradient 6s ease infinite;
  animation-direction: reverse;
}

.projects-card-img {
  align-self: center;
  justify-self: center;
}

/* Footer */
footer p {
  margin: auto;
  padding-bottom: 1rem;
  text-align: center;
}
