html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 20px;
  color: white;
  font-family: "Jost", sans-serif;
  --subtitle-font-size: 1.25rem;
  --cardtitle-font-size: 1.6rem;
  --page-margins: 1rem;
  --darkBlue-color: #051834;
  --yellow-color: #ffcb11;
  --card-color: #9e4585bf;

  --main-border-radius: 0.9rem;
  /* overflow: hidden; */
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  background-color: var(--yellow-color);
  background-image: url(./Images/bgshape.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: inherit;
}

/* Animated BG derived from:https://codepen.io/P1N2O/pen/pyBNzX  */
/* background: linear-gradient(
    45deg,
    #f58b3aad,
    #daa67ead,
    #f997b97d,
    #ff468764
  );
  animation: gradient 60s ease infinite;
  background-size: 400% 400%; */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes colorSlide {
  0% {
    --degrees: 0deg 130deg;
  }
  50% {
    --degrees: 130deg 260deg;
  }
  100% {
    --degrees: 260deg 360deg;
  }
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 75%;
  margin: var(--page-margins) auto 0;
}

.header-title {
  font-family: "Baskervville", serif;
  margin-left: -0.4rem;
  margin-bottom: -0.2rem;
  font-style: italic;
  font-size: 4rem;
}
.header-links {
  z-index: 1;
  text-decoration: underline;
  display: flex;
  gap: 2rem;
}

.header-links a:visited {
  text-decoration: none;
  color: white;
}

/* Projects */

.buttons {
  max-width: 75%;

  /* Flexable Buttons From: https://smolcss.dev/#smol-flexbox-grid */
  --min: 25rem;
  --gap: 2rem;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.buttons > * {
  flex: 1 1 var(--min);
}
.buttons-card {
  position: relative;
  display: block;
  background: var(--card-color);
  height: 15rem;
}
.buttons-card-container {
  grid-column: span 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 1rem;
}

/* Cool Image Hover Effect From: https://rahmanzeb.com/make-an-image-scroll-from-top-to-bottom-on-hover/ */

.buttons-card-container-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  transition: object-position 2s ease-in-out;
  outline: 0.8rem black solid;
  opacity: 0.6;
}

.buttons-card-container-img:hover {
  object-position: bottom center;
}

.buttons-card:hover {
  background: linear-gradient(45deg, #5c0128a4, #86078a81, #890eab77);
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;
}

.buttons-card-title {
  position: absolute;
  text-decoration: underline;
  bottom: 0;
  left: 0.4rem;
  /* font-family: "Baskervville", serif; */
  font-size: 4rem;
}
.buttons-card-subtitle {
  bottom: 0.2rem;
  right: 0.2rem;
  position: absolute;
}

.projects-card-img {
  align-self: center;
  justify-self: center;
}

/* Footer */
footer {
  max-width: 77%;
  margin: 0 auto;
  padding-left: 0.5rem;
  text-align: center;
}

.footer-paragraph {
  padding: 0.5rem 0;
  max-width: 60ch;
}

@media (max-width: 1350px) {
  .header {
    text-align: center;
    flex-direction: column;
  }
  body {
    background-attachment: fixed;
  }
}

@media (max-width: 800px) {
  .header-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .header div {
    text-align: center;
  }
  .buttons-card-title {
    bottom: 1.5rem;
    left: 0.4rem;
    font-size: 4rem;
  }
  .buttons-card-subtitle {
    text-wrap: nowrap;
    bottom: 0.25rem;
    left: 0.4rem;
    position: absolute;
  }
}

@media (max-width: 500px) {
  .header-links {
    font-size: 1rem;
    display: grid;
    gap: 0.4rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .buttons-card-title {
    font-size: 2rem;
  }
}
